  .banner {
  	background-image: linear-gradient(-225deg, rgba(0,0,0,0.1) 20%, rgba(0,0,0.1) 90%), url(../../images/background.jpeg);
  	color: white;
  	padding: 150px 0px;
  	background-size: cover;
 	margin: 40px;
 	border-radius: 10%;
  }

  .banner h1 {
  	font-size: 50px;
  }

  .banner h2 {
  	font-size: 30px;
  	font-weight: lighter; 
  	opacity: 0,8; 
  	margin-bottom: 40px; 
  }